@use "./variables";

.title {
  margin: 30px 0px 0px 5%;
}
.subtitle {
  margin: 0 0 20px 5%;
  color: rgb(126, 126, 126);
}

.board {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  margin: auto;
  border: solid 1px variables.$border;
}

.row {
  display: flex;
  width: 100%;
  background-color: aliceblue;
}
