@use "./variables";

.board {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  margin: auto;
  border: solid 1px variables.$border;
}

.row {
  display: flex;
  width: 100%;
  background-color: variables.$background;
}
