$white: #b8b4ce;
$black: rgb(23, 13, 80);
$border: rgb(143, 143, 143);
$background: aliceblue;

$highlightWidth: 3px;
$highlightColorDark: rgb(226, 111, 57);
$highlightColorLight: darken($white, 50%);
$error: rgba(172, 56, 56, 0.4);